C 0 0 "OUT" 0 0 0 0 60 0 L
X "PIN_TEXT" "OUT" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "NC" 0 -100 0 0 60 0 L
X "PIN_TEXT" "NC" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "GND" 0 -200 0 0 60 0 L
X "PIN_TEXT" "GND" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 500 -700 "EP" 500 -700 0 0 60 0 L
X "PIN_TEXT" "EP" 530 -470 90 0.00 60 0 0 0 0 0 1 0 74
L 500 -500 500 -700 -1 0
C 1000 0 "IN" 1000 0 0 0 60 0 R
X "PIN_TEXT" "IN" 770 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 800 0 1000 0 -1 0
C 1000 -100 "PG" 1000 -100 0 0 60 0 R
X "PIN_TEXT" "PG" 770 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 800 -100 1000 -100 -1 0
C 1000 -200 "EN" 1000 -200 0 0 60 0 R
X "PIN_TEXT" "EN" 770 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 800 -200 1000 -200 -1 0
L 200 100 800 100 -1 0
L 800 -500 800 100 -1 0
L 800 -500 200 -500 -1 0
L 200 100 200 -500 -1 0
P "$LOCATION" "?" 850 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

